<template>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
      <router-link class="navbar-brand" to="/">FITLOG</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/profile">Profile<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-view/>
    <footer class="text-center position-sticky my-2">
      &copy; 2018-2019 Simon Goback
    </footer>
  </div>
</template>

<script>
  import Navbar from './components/Navbar.vue'

  export default {
    
  }
</script>
<style>

  html, body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar-brand {
    font-size: 22px;
    letter-spacing: 5px;
  }

  .navbar {
    font-size: 16px;
    letter-spacing: 3px;
    margin: auto;
    width: 95%;
    padding: .3rem .1rem;
  }

  .router-link, .router-link-active {
    text-decoration: none;
    color: #000;
  }

  @media screen and (min-width: 576px) {

    .container-fluid {
      adding-right: 15px;
      padding-left: 15px;
    }
    
  }
</style>
