<form action="/login" method="post" class="form-signin text-center">
		  <h1 class="login-msg h4 mb-3 font-weight-normal white">Please log in</h1>

		  <label for="inputEmail" class="sr-only">Email address</label>

		  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

		  <label for="inputPassword" class="sr-only">Password</label>

		  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

		  <button class="btn btn-md btn-primary" type="submit">Log in</button>
</form>
