<form action="/signup" method="post" class="form-signin text-center">
	<h1 class="h4 mb-3 font-weight-normal white">Enter your details</h1>
	
	<input type="text" class="form-control" placeholder="First Name" name="firstName">
	<input type="text" class="form-control" placeholder="Last Name" name="lastName">
	<input type="text" class="form-control" placeholder="Email" name="email">
	<input type="password" class="form-control" placeholder="Password" name="confirmPassword">
	<input type="password" class="form-control" placeholder="Password" name="password">
	<button class="btn btn-md btn-primary">Sign up</button>
</form>
