      html, body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        font-family: 'Montserrat', sans-serif;
      }

      .navbar-brand {
        font-size: 22px;
        letter-spacing: 5px;
      }

      .navbar {
        font-size: 16px;
        letter-spacing: 3px;
        margin: auto;
        width: 95%;
        padding: .3rem .1rem;
      }

      .background {
        display: flex;
        align-items: center;
        width: 95%;
        height: 80%;
        background: #f5f5f5 url("/assets/woman_right.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto auto 20px auto;
        flex-direction: column;

      }

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input {
        margin-bottom: 10px;
        background: transparent;
        color: #fff;
      }
      
      .white {
        color: white;
      }

      .error {
        color: red;
      }

      .success {
        color: green;
      }

      .login-msg {
        display: none;
      }

      @media screen and (min-width: 576px) {
        .login-msg {
          display: block;
        }
      }

      @media screen and (min-width: 769px) {
        .container-fluid {
          padding-right: 15px;
          padding-left: 15px;
        }

        .background {
          background: #f5f5f5 url("/assets/woman.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    
  }