<template>
	<div>
		<div class="detail m-auto p-1 p-md-2 d-flex flex-column align-items-center">

		<div v-if="!loaded" class="d-flex justify-content-center my-2">
			<div class="spinner-border text-light" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
			<label class="d-inline">Select Date</label>
			<input class="mx-2 mb-2 w-auto form-control" type="date" name="date" v-model="workout.date" @input="validate" requiredplaceholder="yyyy-mm-dd"/>
			<div v-if="mode=='create'" class="if">
				<div class="btn-group btn-group-toggle m-2" data-toggle="buttons">
					<label class="btn btn-outline-light active" id="strength">
					<input type="radio" name="type"  autocomplete="off" checked @click="toggle('strength', 'cardio')"> Strength
					</label>
					<label class="btn btn-outline-light" id="cardio">
					<input type="radio" name="type"  autocomplete="off" @click="toggle('cardio', 'strength')"> Cardio
					</label>
				</div>
			</div>

			<button type="button" class="btn btn-primary m-2" @click="add">Add Exercise</button>

			<div v-if="workout.type === 'cardio'">
				<div class="w-100 m-2 p-3 exercises" 
					v-for="(e, i) in workout.exercise" :key="i">
					<div class="row m-2 p-3 border">
						<div class="col col-12 col-md-4">
							<label class="d-block">Select {{ workout.type | capitalise}} {{i+1}}</label>
							<select class="form-control" v-model="e.name" required>
								<option v-for="(o, j) in filteredExercises" 
								:key="j" 
								v-bind:value="o.value">{{o.name}}</option>
							</select>
						</div>

						<div class="col col-12 col-md-4">
							<label class="d-block">Time ({{userPreferences.timeUnit || Min}})</label>
							<input class="form-control" type="number" name="duration" v-model="e.duration">
						</div>

						<div class="col col-12 col-md-4">
							<label class="d-block">Distance ({{userPreferences.distanceUnit || Km}})</label>
							<input class="form-control" type="number" name="distance" v-model="e.distance">
						</div>
					</div>
				</div>
			</div>
			<div v-if="workout.type === 'strength'">
				<div class="w-100 m-2 p-3 exercises" 
					v-for="(e, i) in workout.exercise" :key="i">
					<div class="row m-2 p-3 border">
						<div class="col col-12 col-md-3">
							<label class="d-block">Select Exercise {{i+1}}</label>
							<select class="form-control" v-model="e.name" required>
								<option v-for="(o, j) in filteredExercises" 
								:key="j" 
								v-bind:value="o.value">{{o.name}}</option>
							</select>
						</div>

						<div class="col col-12 col-md-3">
							<label class="d-block">Sets</label>
							<input class="form-control" type="number" name="duration" v-model="e.sets"/>
						</div>

						<div class="col col-12 col-md-3">
							<label class="d-block">Reps</label>
							<input class="form-control" type="number" name="distance" v-model="e.reps"/>
						</div>

						<div class="col col-12 col-md-3">
							<label class="d-block">Weight</label>
							<input class="form-control" type="number" name="distance" v-model="e.weight"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="detailBtns">
				<button type="button" class="btn btn-danger m-2" v-if="mode=='edit'" @click="del">DELETE</button>
				<button type="submit" 
						@click="save" 
						class="btn btn-primary m-2"
						v-bind:disabled="!valid"
						>SAVE</button>
			</div>
				
		</div>
	</div>
</template>

<script>
export default {
	name: 'detail',
	data() {
		return {
			workout: {
				exercise: []
			},
			globalExercises: [],
			mode: 'edit',
			valid: false,
			userPreferences: {},
			loaded: false
		}
	},
	props: ['id'],
	computed: {
		filteredExercises: function () {
			let me = this;

			let filteredExercises = me.globalExercises.filter(function(ex) {
				return ex.type == me.workout.type
			})

			filteredExercises.unshift({
				name: '--Select--',
				value: null
			})
			return filteredExercises
		}
	},
	watch: {
		workout: function(newValue, oldValue) {
			console.log('value changed')
		}
	},	
	filters: {
		capitalise: function(value) {
			return value ? value.replace(value[0], value[0].toUpperCase()) : ''
		}
	},
	created: async function() {
		let me = this;

		let globalexercises =  axios.get('/globalexercises')
		let userPreferences =  axios.get('/preferences')

		me.loaded = false
		let result = await Promise.all([globalexercises, userPreferences])

		if (result) {
			if (result[0].data.success) {
				me.globalExercises = result[0].data.data;
			}

			if (result[1].data.success) {
				me.userPreferences = result[1].data.data;
			}
		}

		if (me.id == 'new') {
			me.mode = 'create'
		}

		if (me.mode == 'edit') {
			let response = await axios.get('/workout/' + me.id)
			if (response.data.success) {
				if (response.data.data.date) {
					response.data.data.date = response.data.data.date.split('T')[0]
				}
				me.workout = response.data.data
			}
		}

		me.loaded = true

	},
	methods: {
		save: async function() {
			let w = this.workout;

			let spliceIds = []
			if (w.exercise && w.exercise.length) {
				w.exercise = w.exercise.filter(function(el) {
					return !!el.name
				})
			}

			if (this.mode == 'edit') {
				await axios.post('/workout/' + this.id, {
					workout: w
				})
			} else if (this.mode == 'create') {
				await axios.put('/workout/', {
					workout: w
				})
			}

			this.$router.push({path: `/`})

		}, 
		del: async function() {
			let w = this.workout;

			await axios.delete('/workout/' + this.id, {
				workout: w
			})
			this.$router.push({path: `/`})
		},
		add: function() {
			console.log(this.workout)

			let newExercise = {
				name: null,
				sets: null,
				reps: null
			}

			this.workout.exercise.push(newExercise)
			this.validate();
			console.log(this);
		},
		filterExercises: function(value) {
			
		},
		validate: function() {
			if (this.workout.date && this.workout.type) {
				this.valid = true;
			} else {
				this.valid = false;
			}
		}, 
		clear: function() {
			this.workout.exercise = []
		},
		toggle: function(activeBtnId, passiveBtnId) {
			let activeBtn = document.getElementById(activeBtnId)
			if (activeBtn) {
				activeBtn.classList.add('active')
			}

			let passiveBtn = document.getElementById(passiveBtnId)
			if (passiveBtn) {
				passiveBtn.classList.remove('active')
			}

			this.workout.type = activeBtnId
			this.filterExercises()
			this.clear()
			this.validate()
		}
	}
}
</script>

<style>
	.detail {
		background: #343a40;
		color: #fff;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		.detail {
			width: 95%
		}
	}

</style>