<template>
  <div class="list">
    <div class="d-flex flex-row justify-content-between mb-2">
      <h4>Your workouts</h4>
      <button class="btn btn-dark btn-sm m-2" @click="loadCreate">Add</button>
    </div>
    <div v-if="!loaded" class="d-flex justify-content-center">
      <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div v-if="workouts.length">
      <div v-for="(workout, i) in workouts" :key="i">
        <div class="card text-white bg-dark listItem">
          <div class="card-header">
              <div v-if="workout.type === 'cardio'">
                <i class="fas fa-running"></i>
              </div> 
              <div v-if="workout.type === 'strength'">
                <i class="fas fa-dumbbell"></i>
              </div>
              <span class="text-right">{{ workout.date | tokenize }}</span>
          </div>
          <div class="card-body">
            <table class="table table-borderless table-sm table-dark" v-if="workout.exercise && workout.exercise.length" :key="k">
                    <tr v-for="(e, j) in workout.exercise" :key="j">
                      <td>{{globalexercises.filter(function(ex) { return e.name == ex.value}) | getExerciseName}}</td>
                      <td class="text-right" v-if="workout.type === 'cardio'">
                          {{e.duration ? e.duration : '_'}} ({{userPreferences.timeUnit || Min}})
                      </td>
                      <td class="text-right" v-if="workout.type === 'strength'">
                        {{e.sets ? e.sets : '_'}} x {{e.reps ? e.reps : '_'}} 
                      </td>
                    </tr>
                
            </table>
            <div v-else>
                  No details available
            </div>
          </div>
      </div>
    </div>
  </div>
  <div v-else-if="loaded" class="message">Click on Add button to start logging your workout.</div>
</template>

<script>
export default {
  name: 'List',
  data() {
    return {
      workouts: [],
      globalexercises: [],
      userPreferences: [],
      loaded: false
    }
  }, 
  created: async function() {
    this.loaded = false

    let workouts = axios.get('/workouts')
    let globalexercises = axios.get('/globalexercises')
    let userPreferences = axios.get('/preferences')

    let result = await Promise.all([workouts, globalexercises, userPreferences])

    if (result) {
      if(result[0].data.success) {
        this.workouts = result[0].data.data
      }

      if(result[1].data.success) {
        this.globalexercises = result[1].data.data
      }

      if (result[2].data.success) {
        this.userPreferences = result[2].data.data
        delete this.userPreferences.exercises
      }
    }

    this.loaded = true
  },
  updated: function() {
    let me = this

    let listItems = document.getElementsByClassName('listItem')

    console.log(listItems)
    console.log('adding tap listener')
    console.log(me)

    //Add tap listener to all post divs
    Object.keys(listItems).forEach(function(key) {
      let listItem = listItems[key]
      let mc = new Hammer(listItem)

      // listen to events...
      mc.on("tap", function(ev) {
        console.log('tap')
        me.loadDetail(me.workouts[key])
      });
    })
  },
  filters: {
    tokenize: function(value) {
        return value ? new Date(value).toDateString() : ''
    },
    getExerciseName: function(value) {
        return value && value.length ? value[0]["name"] : ''
    }
  },
  methods: {
    loadDetail: function(workout) {
      console.log(this.userPreferences)
      this.$router.push({name: `detail`, params: {id: workout._id}})
    },
    loadCreate: function() {
      this.$router.push({path: `/detail/new`})
    },
  }
}
</script>

<style >

  .list {
    width: 100%;
  }

  .container-fluid {
    padding: 0;
  }
  .card {
    border-radius: 0px;
  }
  .card-body {
    padding: .25rem 1.25rem;
  }

  .card-title {
    margin-bottom: .15rem;
  }

  .card-header {
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fa-dumbbell, .fa-running {
    padding: 0 30px 0 10px;
  }

  .message {
    padding: 10px;
    font-size: 12px;
  }

  @media screen and (min-width: 576px) {
    .list {
      width: 70%;
      margin: 0 auto;
    }

    .addBtn {
      padding: 5px;
    }

    .header {
      padding: 5px 0;
    }

    .header-title {
      font-size: 18px;
    }

    .message {
      margin-top: 10px;
      padding: 5px;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 768px) {
    .list {
      width: 50%;
      margin: 0 auto;
    }
  }
</style>
