<template>
	<nav class="navbar navbar-expand-md navbar-light">
		<router-link class="navbar-brand" href="/">FITLOG</router-link>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/login">Profile<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/signup">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</template>

<script>
	export default {
		name: 'navbar'
	}
</script>