<template>
	<div class="detail m-auto p-1 p-md-2 d-flex flex-column align-items-center">
		<div v-if="!loaded" class="d-flex justify-content-center my-2">
			<div class="spinner-border text-light" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div class="row mx-auto my-2 d-flex flex-row">
			<div class="col col-auto my-1">
				<label class="d-block">Distance Unit</label>
				<select class="form-control" v-model="userPreferences.distanceUnit">
					<option value="km">Km</option>
					<option value="miles">Miles</option>
					<option value="m">Meters</option>
				</select>
			</div>

			<div class="col col-auto my-1">
				<label class="d-block">Time Unit</label>
				<select class="form-control" v-model="userPreferences.timeUnit">
					<option value="hrs">Hours</option>
					<option value="min">Minutes</option>
					<option value="sec">Seconds</option>
				</select>
			</div>

			<div class="col col-auto my-1">
				<label class="d-block">Weight Unit</label>
				<select class="form-control" v-model="userPreferences.weightUnit">
					<option value="kg">Kg</option>
					<option value="lbs">Pounds</option>
				</select>
			</div>
		</div>
		<label class="my-2 h3">Your exercises</label>

		<div v-for="(e, i) in userPreferences.exercises" :key="i" class="row mx-auto my-3 p-2 d-flex flex-row">
				<div class="col col-auto">
					<label class="d-block">Name</label>
					<input class="form-control" type="text" name="name" v-model="e.name">
				</div>

				<div class="col col-auto">
					<label class="d-block">Type</label>
					<select class="form-control" name="type" v-model="e.type">
						<option value="strength">Strength</option>
						<option value="cardio">Cardio</option>
					</select>
				</div>
		</div>
		<div class="detailBtns">
			<button class="btn btn-light m-2" type="button" @click="add">ADD</button>
		</div>

		<div class="detailBtns">
			<button type="submit" 
					@click="save" 
					class="btn btn-primary m-2" 
					v-bind:disabled="!valid"
					>SAVE</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'detail',
	data() {
		return {
			userPreferences: {},
			valid: true,
			loaded: false
		}
	},
	filters: {
		capitalise: function(value) {
			return value ? value.replace(value[0], value[0].toUpperCase()) : ''
		}
	},
	created: async function() {
		let me = this;

		me.loaded = false

		let userPreferences = await axios.get('/preferences')

		me.userPreferences = userPreferences.data.data
		if (!me.userPreferences) {
			me.userPreferences = {
				exercises: []
			}
		}
		me.loaded = true
	},
	methods: {
		add: function() {
			this.userPreferences.exercises.push({
				name: null,
				type: null,
				value: null
			})
		},
		save: async function() {
			let me = this;
			me.userPreferences.exercises.forEach(function(ex){
				if (!ex.value) {
					ex.value = ex.name.toLowerCase().replace(' ', '_')
				}
			})
			await axios.post('/preferences/', {
				preferences: me.userPreferences
			})

			this.$router.push({path: `/`})
		}
	}
}
</script>

<style>
	
</style>